<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{if !empty($songs)}
<title>{$songs['name']}</title>
{/if}
<link rel="stylesheet" href="/static/css/liststyle.css">
 <!-- Bootstrap Core CSS -->
	<link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- 评论的css -->
	<!-- <link href="/static/css/whir_common.css" rel="stylesheet" type="text/css" /> -->
	<link href="/static/css/whir_style.css" rel="stylesheet" type="text/css" />
	
 	

	<!--music css 开始-->
	    <link rel="stylesheet" href="/static/mplayer/css/mplayer.css">
	<!--music css 结束-->
		<!--music js start-->
		<script src="http://www.jq22.com/jquery/jquery-2.1.1.js 
		"></script>
		<script src="/static/mplayer/js/mplayer.js"></script>
		<script src="/static/mplayer/js/mplayer-list.js"></script>
		<script src="/static/mplayer/js/mplayer-functions.js"></script>
		<script src="http://cdn.bootcss.com/jquery-nstslider/1.0.13/jquery.nstSlider.min.js"></script>
	<!--music js end-->	


	 <link rel="stylesheet" href="/static/css/person/user_center.css" type="text/css">
	 <!-- <script src="/static/js/jquery-1.10.2.min.js"></script> -->
	 <style type="text/css">
		
		#tmd {
			width: 100%;
			height: 100%;
				
			position: absolute;
			top: 0px;
			left: 0px;
			display: none;

		}
		.show {
			width: 50%;
			height: 20%;
			top: 30%;
			left: 25%;
			position: absolute;
			background: #f2f2f2;
			
		}
	</style>
</head>
<body>
	<div id="tmd">
		<div class="show">
			<div class="row">
				<form class="form-horizontal" method="post" action="/index/user/upgd" enctype="multipart/form-data">
					<div id="userInfo" class="ui-tab-content userinfo-content">					
						<div class="form-box">
							<div id="guanbi" class="glyphicon glyphicon-remove" style="float: right;margin-right:15px;margin-top:-30px;width: 30px;height: 30px;">
								
							</div>
							<div class="line nickname-box">
								<div class="item" style="margin-left: 20px;margin-top: -10px;color: red;">添加歌曲到</div>
								{if !empty($mymenu)}
								{foreach $mymenu as $val}
								<div class="cont" style="margin-right: 20px;">
									
									<a href="/index/songs/tomenu?sid={$Request.get.sid}&mid={$val['id']}">{$val['name']}</a>
									
								</div>	
								{/foreach}
								{else}
								<a href="/index/index/index">请先登录</a>
								{/if}							
							</div>
							
						</div>
					</div>				 
				</form>	
			</div>					
		</div>		
	</div>
	<!-- 关闭按钮 -->
	<script type="text/javascript">
		$('#guanbi').click(function(){
			$('#tmd').css('display','none');
		});
	</script>
<!-- 顶部区域 -->
	<div class="header" style="background: #45B39D;height: 110px;">
		<div class="hd-wrap box-center clearfix">
				
			<!-- logo -->
			<h1 class="logo fl" style="width: 300px;border: none;">
				<a href="/index/index/index">
					<img src="/static/images/logo.png">
				</a>
				<span class="logo-text">音乐</span>
			</h1>			
			<!-- 右侧账号信息begin -->
	        <div class="hd-right fr">			
				<ul class="hd-info">				
					<li class="user-info">
						
						{if !empty($Think.session.username)}
						您好！
						{$Think.session.username}
						{else}
						您未登录, 请前往
						{/if}
						<span class="user-name" id="userNickname"></span>
						<i class="icon-common"></i>
					</li>
					{if !empty($Think.session.username)}
					<li>
						<em class="separate">|</em><a class="loginOut" href="/index/user/tuichu">退出</a><em class="separate">|</em>
					</li>
					{/if}
					<li><a href="/index/index/index">首页</a></li>			
				</ul>
			</div>
	    	<!-- 右侧账号信息end -->
		</div>
	</div>
<!-- header end -->
	<div class="bg_box">
		<div class="main">
			<div class="malbum">
				{if !empty($songs)}
				<div class="data_cover"> 
					<img src="{$songs['cover_url']}" alt="{$songs['name']}" >
				</div>
				<div class="data_cont"><h1>{$songs['name']}</h1></div>
				
				<div class="data_info">
					<p>歌手：
						
						<a href="/index/artist/artistdetail?arid={$artist['id']}" target="_blank" title="运动">{$artist['name']}</a>
						
					</p>
					
					
					<p>所属专辑：{$album['name']}</p>
					<p>金钱:{$songs['gold']}</p>
					<p>积分：{$songs['score']} </p>

					<p>
						{if $st == 0}
						<a id="nihaoma" href="/codepay/index.php?sid={$Request.get.sid}&user={$Think.session.username}" style="float:right;margin-right:290px;font-size:20px;color:red;">
							购买
						</a>
						{/if}
						<div id="nihao" style="display: none">{$Think.session.uid}</div>
						<script type="text/javascript">
							$('#nihaoma').click(function(){
								var uid = $('#nihao').html();
								if (uid == '') {
									alert('请登录');top.location="/";
									return false;
								}
									
							});

						</script>

					</p>
						<p>
						{if $status == 0}
						
							<a href="/index/songs/buy?sid={$songs['id']}" style="float:right;margin-right:290px;font-size:20px;color:red;">
								购买
							</a>
						
						{/if}
						</p>
					
				</div>
				
				<div class="data_actions">
					<a id="select" href="javascript:playsong(1);" class="play" style="position:absolute;top:390px;left:430px;"><i class="glyphicon glyphicon-ok-sign"></i>收藏到歌单</a>
					
					<!-- 收藏歌曲到歌单 -->
					<script type="text/javascript">
						var oDiv = document.getElementById('tmd');
						$('#select').click(function (){
						
							oDiv.style.display = 'block';
						});
					</script>
					<div class="bdsharebuttonbox bdshare-button-style1-32" data-bd-bind="1517485084064" style="position:absolute;top:390px;left:650px;">
						<a href="#" class="bds_more" data-cmd="more"></a>
						<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
						<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
						<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
						<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
						<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
						<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
					</div>
					<script>
						window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
					</script>
				</div>
				{/if}
				
			</div>
		</div>
	</div>

	<!-- =============================================================== -->


		<div class="mp" style="position:absolute;left:140px;top:500px;">
	<div class="mp-box">
		<img src="/static/images/menubg.png" alt="music cover" class="mp-cover">
		<div class="mp-info">
			<p class="mp-name"></p>
			<p class="mp-singer"></p>
			<p><span class="mp-time-current">00:00</span>/<span class="mp-time-all">00:00</span></p>
		</div>
		<div class="mp-btn">
			<button class="mp-prev" title="上一首"></button>
			<button class="mp-pause" title="播放"></button>
			<button class="mp-next" title="下一首"></button>
			<button class="mp-mode" title="播放模式"></button>
			<div class="mp-vol">
				<button class="mp-vol-img" title="静音"></button>
				<div class="mp-vol-range" data-range_min="0" data-range_max="100" data-cur_min="80">
					<div class="mp-vol-current"></div>
					<div class="mp-vol-circle"></div>
				</div>
			</div>
		</div>
		<div class="mp-pro">
			<div class="mp-pro-current"></div>
		</div>
		<div class="mp-menu">
			<button class="mp-list-toggle"></button>
			<button class="mp-lrc-toggle"></button>
		</div>
	</div>
	<button class="mp-toggle" style="background:blue;display:none">
		<span class="mp-toggle-img"></span>
	</button>
	<div class="mp-lrc-box">
		<ul class="mp-lrc"></ul>
	</div>
	<button class="mp-lrc-close"></button>
	<div class="mp-list-box">
		<ul class="mp-list-title"></ul>
		<table class="mp-list-table">
			<thead>
				<tr>
					<th>歌名</th>
					<th>歌手</th>
					<th>时长</th>
				</tr>
			</thead>
			<tbody class="mp-list"></tbody>
		</table>
	</div>
</div>
<script>
var modeText = ['顺序播放','单曲循环','随机播放','列表循环'];
{if !empty($result)}
{foreach $result as $value}
		var tmp = {
			"name":"{$value['name']}",
			"singer":"{$artist['name']}",
			"img":"/static/images/menubg.png",
			"src":"{$value['music_url']}",
			"lrc":"{$value['songword']}",
		};
		mplayer_song[0].push(tmp);
{/foreach}
{/if}
var player = new MPlayer({
	// 容器选择器名称
	containerSelector: '.mp',
	// 播放列表
	songList: mplayer_song,
	// 专辑图片错误时显示的图片
	defaultImg: '/static/images/menubg.png',
	// 自动播放
	autoPlay: true,
	// 播放模式(0->顺序播放,1->单曲循环,2->随机播放,3->列表循环(默认))
	playMode:0,
	playList:0,
	playSong:0,
	// 当前歌词距离顶部的距离
	lrcTopPos: 34,
	// 列表模板，用${变量名}$插入模板变量
	listFormat: '<tr><td>${name}$</td><td>${singer}$</td><td>${time}$</td></tr>',
	// 音量滑块改变事件名称
	volSlideEventName:'change',
	// 初始音量
	defaultVolume:80
}, function () {
	// 绑定事件
	this.on('afterInit', function () {
		console.log('播放器初始化完成，正在准备播放');
	}).on('beforePlay', function () {
		var $this = this;
		var song = $this.getCurrentSong(true);
		var songName = song.name 


 + ' - ' + song.singer;
		console.log('即将播放'+songName+'，return false;可以取消播放');
	}).on('timeUpdate', function () {
		var $this = this;
		console.log('当前歌词：' + $this.getLrc());
	}).on('end', function () {
		var $this = this;
		var song = $this.getCurrentSong(true);
		var songName = song.name 


 + ' - ' + song.singer;
		console.log(songName+'播放完毕，return false;可以取消播放下一曲');
	}).on('mute', function () {
		var status = this.getIsMuted() ? '已静音' : '未静音';
		console.log('当前静音状态：' + status);
	}).on('changeMode', function () {
		var $this = this;
		var mode = modeText[$this.getPlayMode()];
		$this.dom.container.find('.mp-mode').attr('title',mode);
		console.log('播放模式已切换为：' + mode);
	});
});






setEffects(player);




</script>



	<!-- ============================================ -->
<!--留言-->
<div class="lybox" style="position:absolute;top:700px;left:100px;">
  <div class="guestbook">
    <div class="left868">
      <!--留言板-->
      <div class="fbpl" style="border-color:#45B39D;">
	 
        <div class="plr">
        	<span class="pltx">
        		{if !empty($Think.session.picture)}
        		<a href="#">
        			<img src="{$Think.session.picture}" width="61" height="61" />
        		</a>
        		{else}
        		<a href="#">
        			<img src="/static/images/touxiang.gif" width="61" height="61" />
        		</a>
        		{/if}
        	</span>
        	<span class="plname"><a href="#">{$Think.session.username}</a></span>
        	<span class="plnum">最多可输入300字<a href="#"></a></span>
        </div>
        <div class="zishu"></div>
        <form action="/index/songs/addpost?sid={$Request.get.sid}" method="post">
        <textarea name="content" class="input4"></textarea>
        <!-- <input type="submit" style="margin-left:25px;width:94px;height:31px;background: /static/index/images/fbpl.jpg;" value=""/> -->
        <input type="hidden" value="{$Request.get.sid}" name="sid" />
        <button style="margin-left:25px;width:98px;height:35px;border:none;"><img src="/static/images/fbpl.jpg"></button>
        </form>
		
      </div>
      <!--留言列表-->
      <div class="lylist">
        <div class="title1" style="border-color:#45B39D;">
          <h1>全部评论</h1>
          <div class="plpage">
           <!--  <div class="page1"><span class="num"><font class="f_blue">1</font>/41</span><span class="prev">上一页</span><span class="next"><a href="#">下一页</a></span> </div> -->
          </div>
        </div>
        {if !empty($huifu)}
		{foreach($huifu as $val)}
        <ul class="pllist">
          <li>
            <div class="lyimg"><a href="#"><img src="{$val['picture']}" /></a></div>
            <div class="lyinfo">
              <div class="lyname"><span class="myname"><a href="#">{$val['username']}</a></span></div>
              <div class="gxqm" style="margin-left:{$val['level']*30}px;">|——&nbsp;&nbsp;{$val['content']}</div>
              <div class="reque">发布于:{$val.create_time|date="y-m-d h:i:s",###} 

				 <span style="display: none;" id="id">{$val['id']}</span>
        <span style="display: none;" id="id">{$Request.get.sid}</span>
              <span class="zhuanfa"><a  class="comment-reply">回复</a></span></div>
            </div>
          </li>
        </ul>
		{/foreach}
		{/if}
        <div class="page">
			<!-- <a href="{valu['first']}" class="AA">首页</a>
			<a href="{valu['prev']}" class="AA">上一页</a>
			<a href="{valu['next']}" class="AA">下一页</a>
			<a href="{valu['end']}" class="AA">尾页</a> -->
		<!-- <span class="prev">上一页</span><span class="num"><a href="#" class="on">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a></span><span class="next"><a href="#">下一页</a></span><em>217/5</em>转到 -->
          <!-- <input name="textfield" type="text" value="5" class="inputpage"/> -->
          <!-- 页 -->
          <!-- <input type="submit" name="Submit" value="GO" class="btngo"/> -->
        </div>
		<script type="text/javascript">
			$(".page a").on("click", function() {
				var page = $(this).attr("href");
				getPage(page);
				return false;
			});
			function getPage(url){
				$.get(url, function(result){
					$("body").html(result);
				});
			}                     
		</script>
		<script type="text/javascript">
		//点击"回复"按钮显示或隐藏回复输入框
    $('.comment-reply').click(function(){
      var id = $(this).parent().prev().prev().html();
      var vid = $(this).parent().prev().html();
        if($(this).next().length>0)
        {
          $(this).next().remove();
        } else {
            //添加回复div
            $('.comment-reply').next().remove();//删除已存在的所有回复div
            //添加当前回复div
            var parent_id = $(this).attr("comment_id");//要回复的评论id
            divhtml = '<div>'+
                      '<form method="post" action="/index/songs/addpost?sid='+vid+'&id='+id+'">'+
                        '<input type="text" style="border:1px solid green;width:200px;height:30px" name="content">'+
                      '<input type="submit" style="border:1px solid green;width:50px;height:30px">'+
                      '</form>'+
                      '</div>';
            $(this).after(divhtml);
         }
    });
  </script>
      </div>
    </div>

  </div>
</div>




	<!-- ============================== -->
</body>
	<!-- Bootstrap Core JavaScript -->
   	<script src="/static/js/bootstrap.min.js"></script>
</html>