<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>
            歌曲列表修改
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/static/admin/css/x-admin.css" media="all">
    </head>
    
    <body>
        <div class="x-body">
        {if !empty($res)}
        {foreach $res as $val}
            <form class="layui-form" action="/admin/slideshow/slidexiu?sid={$Think.get.sid}" method="post"  enctype="multipart/form-data">
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>封面
                    </label>
                    <div class="layui-input-inline">
                      <div class="site-demo-upbar">
                        <img src="{$val['cover_url']}" style="width:60px;height: 60px;border-radius:50px;" alt="">
                      </div>
                    </div>
                </div>
               <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>上传封面
                    </label>
                    <div class="layui-input-inline">
                      <div class="site-demo-upbar">
                        <input type="file" name="files"  id="test">
                      </div>
                    </div>
                </div>


                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>跳转路径
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="pname" name="url" required="" lay-verify="required" value="{$val['url']}"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!-- 这个是不变的歌手 -->
              <!--   <div class="layui-form-item">
                    <label for="cname" class="layui-form-label">
                        歌手
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="cname" name="perid" required="" lay-verify="required"
                        autocomplete="off"  value="" disabled="" class="layui-input">
                    </div>
                </div> -->
             <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>描述
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="pname" name="des" required="" lay-verify="required" value="{$val['des']}"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                  
      
                
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="save" lay-submit="">
                        保存
                    </button>
                </div>
          
            </form>
          {/foreach}
          {/if}    
        </div>
        <script src="/static/admin/lib/layui/layui.js" charset="utf-8">
        </script>
        <script src="/static/admin/js/x-layui.js" charset="utf-8">
        </script>
        <script>
            // layui.use(['form','layer'], function(){
            //     $ = layui.jquery;
            //   var form = layui.form()
            //   ,layer = layui.layer;
            

            //   //监听提交
            //   form.on('submit(save)', function(){
            //     $.ajax({
            //         type:'post',
            //         url:'/admin/slideshow/slidexiu',
            //         data:null,
            //         dataType:'json',
            //         success:success
            //     });
            //     function success(data)
            //     {
            //         if (data.status == 1) {
            //         layer.alert("修改成功", {icon: 6},function () {
            //             // 获得frame索引
            //             var index = parent.layer.getFrameIndex(window.name);
            //             //关闭当前frame
            //             parent.layer.close(index);                    
            //         });
            //          //刷新
            //         window.parent.location.reload();  
            //         parent.layer.closeAll('iframe'); 
            //         } else {
            //              layer.alert("修改失败", {icon: 6},function () {
            //                 // 获得frame索引
            //                 var index = parent.layer.getFrameIndex(window.name);
            //                 //关闭当前frame
            //                 parent.layer.close(index);                    
            //             });
            //         }
            //     }
            //     return false;
            //   });
              
              
            // });
        </script>
    </body>

</html>