<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>
            权限管理编辑
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/static/admin/css/x-admin.css" media="all">
    </head>
    
    <body>
        <div class="x-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label for="cname" class="layui-form-label">
                        ID
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="cname" name="perid" required="" lay-verify="required"
                        autocomplete="off"  value="{$perid}" disabled="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="cname" class="layui-form-label">
                        <span class="x-red">*</span>分类名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="cname" value="{$pername}" name="spername" required="" lay-verify="required"  
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属分类</label>
                    <div class="layui-input-inline" >
                        <select name="bpername">
                            <option value="">所属分类</option>
                            {if !empty($bfen)}
                            {foreach $bfen as $val}
                            <option value="{$val['pername']}"  {if !empty($moren)}{if $moren == $val['pername']} selected=""{/if} {/if}>{$val['pername']}</option>
                            {/foreach}
                            {/if}
                        </select>
                    </div>
                </div> 
                
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="save" lay-submit="">
                        保存
                    </button>
                </div>
            </form>
        </div>
        <script src="/static/admin/lib/layui/layui.js" charset="utf-8">
        </script>
        <script src="/static/admin/js/x-layui.js" charset="utf-8">
        </script>
        <script>
layui.use(['form','layer'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;
            

              //监听提交
              form.on('submit(save)', function(){
                // console.log(data);
                //发异步，把数据提交给php
                var value1 = $('[name=spername]').val();
                var value2 =  $('[name=perid]').val();
                var value3  = $('[name=bpername]').val();
                $.ajax({
                    type:'post',
                    url:'/admin/permission/edit_guanli',
                    data:{spername:value1,perid:value2,bpername:value3},
                    dataType:'json',
                    success:success
                });
                function success(data)
                {
                  if (data.status == 1) {
                    layer.alert("修改成功", {icon: 6},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);                    
                    });
                     //刷新
                    window.parent.location.reload();  
                    parent.layer.closeAll('iframe'); 
                    } else if (data.status ==2) {
                         layer.alert("名字重复", {icon: 6},function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);                    
                        });
                    } else if (data.status ==0) {
                         layer.alert("修改失败", {icon: 6},function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);                    
                        });
                    } else if (data.status ==9) {
                         layer.alert("没进行任何修改", {icon: 6},function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);                    
                        });
                    }
                }

                ////
                // layer.alert("保存成功", {icon: 6},function () {
                //     // 获得frame索引
                //     var index = parent.layer.getFrameIndex(window.name);
                //     //关闭当前frame
                //     parent.layer.close(index);
                // });
                return false;
              });
              
              
});
        </script>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>

</html>