<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登陆</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" /> -->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/static/admin/assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/admin/assets/css/font.css">
	<link rel="stylesheet" href="/static/admin/assets/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/admin/assets/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/assets/js/xadmin.js"></script>

</head>
<body class="login-bg">
    
    <div class="login">
        <div class="message">管理登录</div>
        <div id="darkbannerwrap"></div>
        
        <form action="/admin/permission/admin_login" method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" id="btn" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
    /*    $(function  () {
            layui.use('form', function(){
              var form = layui.form;
              // layer.msg('玩命卖萌中', function(){
              //   //关闭后的操作
              //   });
              //监听提交
              form.on('submit(login)', function(data){
                // alert(888)
                layer.msg(JSON.stringify(data.field),function(){
                    location.href="{:url('admin/index/index')}";
                });
                return false;
              });
            });
        })
*/
      $('#btn').click(function(){
        //获取用户名密码
        var username = $('input[name=username]').value();
        var password = $('input[name=password]').value();

        var params = {
            "username":username,
            "password":password
        };

        $.post($('form').attr('action') , params , function(data){
            alert(data);
        });
      });  
    </script>

    
    <!-- 底部结束 -->
    
</body>
</html>